In [1]:
from sklearn import svm, datasets
iris=datasets.load_iris()

In [2]:
import pandas as pd 
df=pd.DataFrame(iris.data, columns=iris.feature_names)

df['flower']=iris.target
df['flower']=df['flower'].apply(lambda x: iris.target_names[x])
df[47:52]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
47,4.6,3.2,1.4,0.2,setosa
48,5.3,3.7,1.5,0.2,setosa
49,5.0,3.3,1.4,0.2,setosa
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(iris.data, iris.target, test_size=0.3)

# Using GridSearchCV to determine The parameters in SVM

In [6]:
from sklearn.model_selection import GridSearchCV
clf=GridSearchCV(svm.SVC(gamma='auto'), {
    'C':[1,10,20],
    'kernel': ['rbf', 'linear']
}, cv=5, return_train_score=False)

clf.fit(iris.data, iris.target)
clf.cv_results_
df=pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004452,0.004191,0.001376,0.001722,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001753,0.001465,0.001381,0.002763,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.003038,0.002885,0.000964,0.001281,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000713,0.000642,0.000539,0.000665,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.001164,0.000416,0.000732,0.000607,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000312,0.000623,0.000000,0.000000,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [8]:
df[['param_C', 'param_kernel', 'mean_test_score']]

   param_C param_kernel  mean_test_score
0        1          rbf         0.980000
1        1       linear         0.980000
2       10          rbf         0.980000
3       10       linear         0.973333
4       20          rbf         0.966667
5       20       linear         0.966667

# For computational power, especially in Big Dataset we can't use the above.

# We use Randomized SearchCV, it will try random parameters until you get the optimal.

In [11]:
from sklearn import svm, datasets
from sklearn.model_selection import RandomizedSearchCV
import pandas as pd

# Load dataset
iris = datasets.load_iris()

# Define randomized search
rs = RandomizedSearchCV(
    svm.SVC(gamma='auto'),
    {
        'C': [1, 10, 20],
        'kernel': ['rbf', 'linear']
    },
    cv=5,                    # ← Missing comma before this in your code
    return_train_score=False,
    n_iter=2
)

# Fit the model
rs.fit(iris.data, iris.target)

# Display results
pd.DataFrame(rs.cv_results_)[['param_C', 'param_kernel', 'mean_test_score']]

   param_C param_kernel  mean_test_score
0       10          rbf         0.980000
1       10       linear         0.973333